# Byte-compiled / optimized / DLL files
__pycache__/

# notebook checkpoints
.ipynb_chekpoints
*./ipynb_checkpoints/*

# training data
notebooks/MNIST-data
*.gz

# saved models
models/
models_for_serving/
